<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.DUMP" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:label="V2-F Sensor Injector"
        android:theme="@android:style/Theme.Material.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".InjectionService"
            android:exported="true"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
